.BoardGamesPageContainer {
    margin-top: 120px;

}

.filtersDiv {
    height: 80px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--nav-bg-opaque);
}

.filterBtn {
    height: 100%;
    border-radius: 50%;
    transition: all 0.2s ease;
}

.filterBtn:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.filterBtn.active:hover {
    box-shadow: 0 0 15px rgb(255, 42, 0);

}

.filterBtn.active {
    box-shadow: 0 0 10px goldenrod;
    transform: scale(1.1);
    /* border: 2px solid goldenrod; */
}