.gameCardContainer {
    background-color: rgba(44, 110, 114, 0.9);
    border: 2px solid var(--nav-btn-bg);
    box-sizing: border-box;
    width: 100%;
    aspect-ratio: 0.75;
    /* overflow: hidden; */

    transition: all 0.2s ease;
}

.gameCardContainer:hover {
    border-color: var(--logo-yellow);
    box-shadow: 0px 0px 8px var(--logo-yellow);
    transform: scale(1.05);
}

.gameImgDiv {
    width: 100%;
    height: 75%;
}

.gameImg {
    height: 100%;
    object-fit: contain;
    padding: 10px;
    box-sizing: border-box;
}





.gameCardInfo {
    padding: 0 10px;
}
.gameCardInfo h2 {
    margin: 0;
}
.gameCardInfo h4 {
    margin: 0;
}