:root {
    --nav-bg-color: hsl(225, 52%, 8%);
    /* --nav-btn-bg: rgb(66, 115, 119); */
    --nav-btn-bg: rgb(44, 110, 114);
    --logo-yellow: rgba(241, 163, 59,1);
    --logo-red: rgba(213,52,52,1);
}


.navContainer {
    height: 90px;
    display: flex;
    position: fixed;
    left: 0; top: 0;
    /* background-color: hsl(225, 42%, 9%); */
    width: 100%;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.navContainer.opaque {
    background-color: hsl(225, 52%, 4%);
    height: 60px;
}

.titleDiv{
    height: 100%;
    cursor: pointer;
}

.title {
    height: 100%;
}

.navIcon {
    width: 40px;
    height: 40px;
    background: var(--nav-btn-bg);
    border-radius: 50%;
    margin: 15px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.navIcon img {
    object-fit: contain;
    height: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.search img {
    filter: invert();
}

.navButtons {
    display: flex; flex-direction: column;
    align-items: center;
    padding-top: 80px;
    transform: translateX(-100%);
    transition: all 0.2s ease;
    z-index: 2;

    position: fixed;
    top: 0;
    left: 0;

    height: 100vh;
    width: 65%;
}


.navButtons.navOpen {
    transform: translateX(0%);
    background-color: var(--nav-btn-bg);
    box-shadow: 4px 4px 10px rgba(241, 163, 59, 0.7);
}

.navOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00000000;

}

.navOverlay.navOpen {
    display: block;
    background-color: #00000070;
    transform: translateX(100%);
    width: 100%;
    height: 100%;
}

.navBtn {
    background-color: var(--nav-bg-color);
    padding: 20px;
    width: 50%;
    color: rgb(241, 163, 59);
    text-decoration: none;
    cursor: pointer;
    margin: 20px;

    border-radius: 32px;
    text-align: center;
}